.profile-navbar {
  border: 0px solid red;
  border-radius: 9999px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  -webkit-box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.5);
}

.profile-navbar-logo {
  font-weight: bold;
  font-size: larger;
  border: 0px solid red;
  color: rgb(1, 1, 93);
  letter-spacing: 0.5px;
}

.profile-navbar-logo > i {
  margin-right: 6px;
}

.profile-navbar-link {
  color: rgba(49, 62, 89, 0.6);
  padding: 15px;
  font-family: "Inter", sans-serif;
}

.profile-navbar-link:hover {
  color: rgba(49, 62, 89, 1);
}

.profile-navbar-link > i {
  margin-right: 6px;
}

.profile-navbar-account {
  color: #11bfa5;
  border: 1px solid red;
  position: relative;
}

.profile-navbar-account > i:hover {
  color: #11bfa59f;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .profile-navbar {
    border: 0px solid red;
    border-radius: 0;
    padding: 0;
    height: fit-content;
    box-shadow: none;
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
      "profile-nav-logo profile-share"
      "profile-nav-items profile-nav-items";
  }

  .profile-navbar-logo {
    border: 0px solid blue;
    grid-area: profile-nav-logo;
    justify-self: start;
    padding: 1rem;
  }

  .profile-navbar-links {
    border: 0px solid green;
    grid-area: profile-nav-items;
    display: flex;
    border-top: 2px solid rgba(213, 213, 213, 0.344);
    border-bottom: 0.5px solid rgba(213, 213, 213, 0.344);
  }

  .profile-navbar-account {
    border: 0px solid purple;
    grid-area: profile-share;
    justify-self: end;
    padding: 1rem;
  }

  .profile-navbar-link {
    font-size: small;
    border: 0px solid pink;
    width: 25%;
    text-align: center;
    padding: 1rem 0;
    letter-spacing: -0.35px;
  }

  .profile-navbar-link > i {
    display: block;
    margin-right: 0;
  }

  .profile-navbar-link:hover {
    border-bottom: 1px solid rgba(49, 62, 89, 1);
  }
}
