.profileContainer {
  border: 1px solid blue;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  height: fit-content;

  background-color: rgb(243 243 241);
}

.profile-content {
  display: flex;
}

.profile-route {
  border: 1px solid red;
  width: 100%;
}

.profile-display {
  border: 1px solid red;
  width: 43%;
}

@media screen and (max-width: 960px) {
  .profileContainer {
    padding: 0;
  }
}
