.profileContainer {
  border: 0px solid blue;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  height: fit-content;
  background-image: linear-gradient(
    to top,
    #dfe9f3f3 0%,
    rgba(255, 255, 255, 0.939) 100%
  );
}

.profile-content {
  display: flex;
}

.profile-route {
  border: 0px solid red;
  width: 100%;
}

.profile-display {
  border-left: 1.5px solid rgba(210, 210, 210, 0.647);
  width: 43%;
}

@media screen and (max-width: 960px) {
  .profileContainer {
    padding: 0;
  }
}
