.appearance-profile-container {
  border: 1px solid red;
  max-width: 640px;
  width: 100%;
}

.appearance-profile {
  border: 1px solid red;
  border-radius: 20px;
}

.appearance-pic-img {
  border-radius: 100%;
  border: 1px solid green;
  height: 96px;
  width: 96px;
  background-color: black;
}
